.banner {
  background-color: #026eb5 ;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.title {
  color: #fff;
  margin-bottom: 2px;
}

.comment {
  color: #8DCBE6;
  font-size: 0.65rem;
}

@media only screen and (max-width: 600px) {
  .banner {
    height: 135px;
  }
}