.stain-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0.5rem;
  border-bottom: solid 1px #ECECEC;
}

.stain-item-sm {
  padding: 0 0.5rem;
}

.stain-item-container:hover {
  background-color: #f3f3f3 ;
}